<ion-card mode="md" class="ion-margin">
  <ion-card-header class="header-info">
    <div class="header-title">
      <ion-skeleton-text animated style="width: 150px; height: 30px;"></ion-skeleton-text>
      <ion-avatar>
        <ion-skeleton-text animated ></ion-skeleton-text>
      </ion-avatar>
    </div>
    <ion-skeleton-text animated style="margin-top: 1px; width: 50%; height: 14px;"></ion-skeleton-text>
  </ion-card-header>

  <ion-card-content class="content-info">
    <div style="display: flex; flex-direction: rows; justify-content: left; align-items: center; gap: 5px;">
      <p class="ion-text-wrap"></p>
      <ion-skeleton-text animated style="display: inline; width: 100px;"></ion-skeleton-text>
    </div>
    <div style="display: flex; flex-direction: rows; justify-content: left; align-items: center; gap: 5px;">
      <p class="ion-text-wrap"></p>
      <ion-skeleton-text animated style="display: inline; width: 100px;"></ion-skeleton-text>
    </div>
    <div style="display: flex; flex-direction: rows; justify-content: left; align-items: center; gap: 5px;">
      <p class="ion-text-wrap"></p>
      <ion-skeleton-text animated style="display: inline; width: 100px;"></ion-skeleton-text>
    </div>
    <div style="display: flex; flex-direction: rows; justify-content: left; align-items: center; gap: 5px;">
      <p class="ion-text-wrap"></p>
      <ion-skeleton-text animated style="display: inline; width: 100px;"></ion-skeleton-text>
    </div>
    <div style="display: flex; flex-direction: rows; justify-content: left; align-items: center; gap: 5px;">
      <p class="ion-text-wrap"></p>
      <ion-skeleton-text animated style="display: inline; width: 100px;"></ion-skeleton-text>
    </div>
  </ion-card-content>
</ion-card>
