.tab-professor {
    --color-selected: var(--ion-color-professors);
}

.tab-places {
    --color-selected: var(--ion-color-places);
}

.tab-general {
    --color-selected: var(--ion-color-general);
}