.searchbar-conatiner {
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

ion-searchbar.ios.search-bar-list {
    padding: 0;

    --border-radius: 20px !important;
    --cancel-button-color: purple !important;
}

.search-btn {
    --background: white;
}